.badge.badge-primary {
    color: rgb(203.7174089069, 8.2825910931, 74.7111744879);
    background-color: rgb(247.5360323887, 178.6639676113, 202.0736842105);
}

.badge.badge-secondary {
    background-color: rgb(196.6, 196.6, 196.6);
    color: #525252;
}

.badge.badge-info {
    color: rgb(8.5428571429, 90.5932038835, 198.4571428571);
    background-color: rgb(174.3047619048, 205.6666666667, 246.8952380952);
}

.badge.badge-success {
    color: rgb(50.5577689243, 149.4422310757, 54.5531007284);
    background-color: rgb(188.2071713147, 225.9928286853, 189.7338645418);
}

.badge.badge-warning {
    color: rgb(200, 111.5537848606, 0);
    background-color: rgb(255, 212.6342629482, 159.2);
}

.badge.badge-danger {
    color: rgb(245.5957746479, 18.3763807979, 0.4042253521);
    background-color: rgb(252.4281690141, 211.0450704225, 207.7718309859);
}
